ion-label {
    font-size: 18px;
    font-weight: bold;
}

ion-input {
    width: 46px;
    padding-left: 20px;
    font-size: medium;
    background-color: white;
    color:black;
}

.narrow {
    width: 46px;
    padding-left: 20px;
    font-size: medium;
    background-color: white;
    color:black;
}

.error-message {
    color: red;
}